        
     *{box-sizing:border-box;
    }
                      /*BODY*/
   body{
        margin:0;  
        padding:0;  
        font-family:'raleway','sans-serif';        
              
    }
                     /*HEADER*/
      header{
       display:flex; 
       align-items:center;
       flex-wrap: wrap; 
       justify-content: space-between;              
        width:100%; 
        margin:0;
                            
    }

      #logo{                     
      padding:0 5px;         
       color:#0065FC;   
    }
      .menu{      
      display:flex;  
      justify-content:space-around;                
      order:1;       
      width:100%;        
                                                                   
    } 
    nav ul{
      display:flex;
      justify-content:space-around;
      list-style: none;
      width:100%;
      text-align:center;      
      padding:0;
         
     }    
       
    
    nav a {
      text-decoration: none;        
      
    }
          
       .hebergement{
       color:#0065FC;
       }

       .activite{
    
        color:black;
        font-weight:400;                 
      }
       .traitleft{
         
         width:50%;
         text-align: center;
         padding-bottom:16px;
         border-bottom:2px solid #0065FC;
       } 
      

       .traitright{
         width:50%;
         text-align:center;
         padding-bottom:16px;
         border-bottom: 2px solid #f2f2f2;
       }
       .traitright a:hover{      
        padding:0 62px 16px;         
        border-bottom: 2px solid #0065FC;
        
       }
      
     .registre{       
      font-weight:600;      
      text-decoration:none;
      color:#0065FC;
      padding-right:5px;
     
    }   
    
         
                        /*MAIN*/
                /*titre de presentation */
      .zone_title{
        margin-bottom:20px;
      }
      h2,.stitle{       
      margin-left:15px; 
    }
      
 
                /*Section ZONE RECHERCHE*/
                 /*barre de recherche*/
      form{
        display:flex;
        justify-content:center;
        margin-left:10px;
        
    }
      .iconresearch{  
 
        width:50px;
        height:50px;
        background-color:#f2f2f2;
        border-radius: 15px 0 0 15px;
        
    }
      .iconresearch i{
       display:flex;
       justify-content:center;
       padding-top:15px;   
    }

      .fontbarre{
       width:250px;
       height:50px;       
       font-family:'raleway','sans-serif';    
       font-weight:900;       
       font-size: medium;
       border:1px solid #f2f2f2;  
   
    }

        button {
        background-color:#0065FC;
        width:50px;
        height:50px;
        border:0;
        border-radius:15px;   
        position:relative;
        right:20px;     
    }

        .buttonloupe i{
        color:white;
    }
        .buttonblue{
        display:none;
    } 

                  /*tri et filtres*/
          
        .sort_filter{
         display:flex;  
         justify-content:flex-start;
         flex-wrap: wrap;
         width:100%;
         padding-left: 12px;
         
                      
    }    
      .filter_title{
      width:100%
    }    
      .sort_element{
        display:flex;        
        border:2px solid #f2f2f2;
        border-radius:30px;        
        height:auto;
        margin-right:15px; 
        width:auto;          
        margin-top:10px;            
        font-weight:bold;
        font-size:14px;
        align-self:center;   
                    
    }   
     .sort_element:hover {
          background-color:#DEEBFF;
          
    }  
         
      .element_icone {
       display:flex;
       align-items:center;       
       background: #DEEBFF;
       border-radius:100%;
       width:50px;  
       margin-left:-3px;     
       justify-content:center;
       color:#0065FC;
    }
       
       .sort_name{
        margin:15px;
    }
                      /*info logement*/         
       
       
    .lodgininfo{
      display:flex;
      flex-direction: row;
      align-items:center;     
      padding:5px;     
      margin-top:20px;
   }      

     .info_icon{ 
      display:flex;  
      color:#0065FC;
      border-radius: 50%;
      border: 2px solid #f2f2f2;
      justify-content:center;   
      align-items:center;   
      min-width: 32px; 
      min-height: 32px; 
      margin-bottom:4px;
     
      
      
   }
   .info{
     padding-left:10px;
   }
   
                   /*SECTION LOGEMENT ET ACTIVITE*/
      #house_contenair{       
      width:100%;               
           
    }
                      /* tronc commun*/
     .house_popular,.city_house{
      display:flex;       
                  
    }
    .h3_title{
      margin-left:20px;
    }
      
                  /*les plus  populaires*/
      .t_popular{
      display:flex;
      justify-content: space-between;
      align-items:center;
      width:100%;
      padding-right:20px; 
      margin-top:10px;     
     

    }
     .house_popular{
      flex-direction: column;
      background: #f2f2f2;
      height:100%;
      justify-content: flex-start;
      width:100%;
      padding:5px;
      margin-top:14px;
      
     }
      .housepop{
       margin-bottom:29px;
    }  
      .city_house{
      flex-direction:column;      
      height:100%;
      justify-content:flex-start;
      width:100%;
      padding:3px;
      margin-bottom:4px;
    }     
    .more{
      font-size:20px;
    } 
                              /*herbergement*/
    
    
                              /*les cartes*/
      .card_link {          
        text-decoration: none;        
    }    
      .card_link :hover{
        transform: scale(0.9);          
    }
                     /*carte image populaire*/
      .card_pop{
         display:flex; 
         width:90%;         
         height: 145px;   
         border-radius: 20px 0 20px 0;    
         background-color: white;      
         border-radius: 20px;
         box-shadow: 0px 0px 3px 2px #0000003e;
         padding: 5px 5px 0 5px;    
         text-decoration :none;
         margin-left: 20px;
         margin-bottom: 10px;
         cursor: pointer;
         transition: 0.1s;                
                    
    }
      
      
      .card_pop img{
        display:flex;  
        width: 135px;
        height: auto;
        border-radius: 20px 0 0 20px;
        padding-bottom: 5px;
        object-fit: cover;      
        border-radius: 20px 0 0 20px;    
          
    }              
      .textetoile{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left:10px;
        
        
    }
      .c_text {
          
      line-height:11px;
      margin-bottom:10px;
      color:black;
      font-size:14px;
    }  
    
     .etoile i{
      font-size: small;
      color:#0065FC;
      padding-top:8px;
    }
     .etoileoff{
       font-size: small;
      color:black;
      opacity:0.08;
    }
       /*carte image house*/
     .house{
     flex-direction: column;
    }
     
      .card_hebergement{
      background-color: white;          
      width: 90%;
      height:200px;
      border-radius: 20px;
      box-shadow: 0px 0px 3px 2px #0000003e;
      padding: 5px 5px 0 5px;    
      text-decoration :none;
      margin-left: 20px;
      margin-bottom: 19px;
      cursor: pointer;
      transition: 0.1s;
    }
      .card_hebergement img{
        width: 100%;
        height: 115px;
        border-radius: 20px 20px 0 0;
        padding-bottom:5px;
        object-fit: cover;
    }
  
      .textetoile2{
      display:flex;
      flex-direction: column;
      flex-wrap: wrap;         
      margin-left:10px;      
      margin-top:-8px;
      line-height:0;
      color:black;
     

    }
      .c_text2 p  {
     font-size:14px;      
     line-height: 1px;
     margin-bottom:8px;
     color:black;                  
    }
     

            /*Zone ACTIVITY*/


             /* carte image activity*/

      .card3_activity{
        width:90%;
        border-radius:20px;         
        text-decoration:none;
        margin-left:19px;        
        margin-bottom:10px;
        cursor:pointer;
        transition: 0.1s;
        background-color:white;
        box-shadow: 0 2px 8px 0px #0000001e;    
    }
             

      .card3_activity img{
       width:100%; 
       height:130px;   
       border-radius: 20px 20px 0 0;    
       object-fit:cover;
   }
    .card3_activity h4{
        padding-left:15px;
        padding-bottom:15px;
        color:black ;
   }
                    
       
          /*FOOTER*/
     footer{
            display:flex;
            background-color: #f2f2f2;
                      
            
    }
          
      .zone_info{    
             display:flex;     
             flex-direction: column;
             text-align: left;
             font-size: 15px;
             margin-left:20px;
             margin-bottom:20px;
             font-style: normal;
             
    }
     .Column1, .Column2,.Column3{  
             display:flex;       
             font-size:15px;
             flex-direction: column;
             text-align: left;
    }
      .A_propos a,.Nos_hebergements a,.Assistance a{
             display:flex;
            flex-direction: column;            
            align-items: flex-start;
            padding-top:4px;
            text-decoration: none;
            color: black;
    }
                        
               
      /* VERSION INTERMEDIAIRE MOBILE /TABLETTE MIN 601PX/767px */

      @media only screen and (min-width:601px){
      
      *{box-sizing:border-box;
      }              
                          /*HEADER*/
      header {      
      border-bottom:none;
      flex-direction:row; 
      flex-wrap: nowrap;
         
                
    }   
            
     .registre{
       order:1;
       position:relative;
       align-self:center;
     }
   
     nav a {
      text-decoration: none; 
      padding-top:10px;
      padding-bottom:10px;       
           
      
    }
    .menu{
      justify-content: space-evenly;
      border-bottom:none;
    }
    nav ul{
      align-items: center;

    } 
    
    .traitleft{      
      border-bottom:none;
      padding:0;
      width:25%;
    }
     .hebergement{
       border-top:2px solid #0065FC;
       
     }
    .traitright{
      
      border-bottom:none;
      padding:0;
      width:25%;
          
    }
    .traitright a:hover{
      border-bottom:none;      
      border-top:2px solid #0065FC;
      padding:12px;
    }        
       
       

              /*SECTION RECHERCHE*/
      form{      
       justify-content:center;
        margin-left:10px;
  }  
  .fontbarre{
    width:275px;
  }
       button{
       border-radius: 0 20px 20px 0;
       width:100px;
  }
  .buttonloupe{
    display:none;
    }

  .buttonblue{
    display:flex; 
    justify-content:center;     
    color:white;
    font-family: 'raleway';  
    font-weight:bold;
       
  }   
  
  .info_icon{
    width:35px;
    height:30px;
    margin-left:10px;
  }

  .iconresearch{    
       width:50px;
      height:50px;
  }
           
    nav ul{
      padding-bottom:none
    }

                  /*SECTION MAIN */
                  /*les cartes pouplaires et hebergements*/ 
                    
   .card_pop{
     width:95%;
     height:160px;
   }    
   .card_pop img{
    width:335px;
  }  
  .card3_activity{
    width:95%;
    height:200px;
  }   
  .housecity{
    flex-direction: row;
    flex-wrap: wrap;         
  }

  .city_house{
    background:#f2f2f2;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    }
    .house_title{
      width:100%;
    } 

    .card_hebergement{
     
    width:280px !important;
    width:100%;
    height:200px;
    margin-right:5px;
    }
  
  .plusinfo{
    width:100%
  }
 
    
                     /*FOOTER*/
  footer{
    justify-content: space-around;
  }
  .zone_info{
  flex-direction: row;
  }
  .Column1,.Column2{
    margin-right:20px;
  }
  .A_propos,.Assistance,.Nos_hebergements{
    font-size: 14px;
  }
}
 
                   /* VERSION TABLET (min 768px) */
       @media only screen and (min-width:768px){
      
             
                 /*SECTION TRI ET FITRE*/
       .categories_filtres{
        display:flex;
        margin-top: 54px;
        margin-left:63px ;
        }
          .filtre {
          display:flex; 
          justify-content: space-between;   
                       
        
        }
          .filtres_tri {
        display:flex;
        margin-left:29px;
        margin-top: 4px;
        background: #f2f2f2;
         
      
        }
      
          .bordureicone{
        display:flex;
        background-color:#DEEBFF; 
        border-radius: 100%;  
        width: 3em;
        height: 3em;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-right: 14px;
        margin-left:-3px;
        
        }
          .bordureicone i{
        display: flex;
        color:#0065FC;
        position: relative;          
        
        }

              /*section HOUSE AND ACTIVITY*/
        
        .house_title
        {
          width:100%;
        }
      #activity{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        width:100%;
      }
      .title_activity{
        width:100%;
      }  
                   /*les cartes logement */
      
      .housepop{           
        flex-direction:column;
      }

      .house_popular{              
        height:50%;        
        width:100%;                
        
       }
                      
       
        .card_hebergement{
          width:90%;
          margin-right:10px;
          
        }     
        .card3_activity{
          width:95%;
          margin-right:5%;
        }       
      .plusinfo{
       width:100%;
      }
                          /*FOOTER*/
       footer{        
        background-color: #f2f2f2;
        
      }
     .zone_info{    
         width:100%;     
         flex-direction: row;
         text-align: center;
         font-size: 15px;
         justify-content: space-evenly;
         align-items: flex-start;
       }
       .Column1, .Column2,.Column3{  
               
         font-size:15px;
         flex-direction: column;
       }
       .A_propos,.Nos_hebergements,.Assistance{
         display:flex;
        flex-direction: column;
       }
  }


                     /*VERSION DESTOP*/ 
  
      @media screen and ( min-width:992px){
      *{box-sizing:border-box; }

                      /*HEADER*/
    header{
     max-width :1440px;
     margin:auto;   
     padding-top:5px;
      }

    #logo{
      position:relative;         
       margin-right:30%; 
                               
   }
    .menu{
      justify-content: flex-end;
      width:50%;
      list-style: none;
      
    }
    
    
   .registre{
    position:relative;     
    margin-right:40px;
            
   }
   .nav_ul{
     align-items: baseline;
   }
   .trait_lien{
     justify-content: flex-end;
     

   }
   .traitleft{
     padding:0;
     width:20%;
     
   }
   .hebergement{    
     text-align:center;
   }
   
  .traitright a:hover{
    padding-top:10px;
  }
 
   
                    /*presentation*/
     .title,.stitle{
                      margin-left:30px;
   }    
         
                     /*barre de recherche*/
      form{
          justify-content: flex-start;
          margin-left:30px;
   }

                  /* ZONE RECHERCHE */
      .sort_filter{         
       flex-wrap:nowrap;
        width:90%;
        margin-top:30px;
        margin-left:30px;
        padding-right:30px;
    }
     .filter_title{
        width:80px;
        padding-top:15px;
        padding-right:30px;
   }

    .sort_name{
     font-size:16px;
    }

                          /* MAIN*/
     .main{
      max-width:1440px;
      margin:auto;
    }

                    /*section HOUSE AND ACTIVITY*/
      #house_contenair{
        display:flex;        
        flex-direction: row-reverse;
        max-width: 1440px;
    }
      
      .housecity{
          flex-direction: row;
          flex-wrap: wrap; 

    }
       
      .house_popular{
          height:auto;
          border-radius:30px;
          padding:5px;
          margin-right:20px;
          margin-top:1px;
         
         
    }

     .card_pop{
          width:90%;
          height:165px;
          margin-top:5px;
          margin-bottom:30px;
    }

     .card_pop img{
      width:50%;
      height:160px;
    }
      .t_popular{
       margin-top:5px;
      }
       
    
      .bloc_houseright{
      display:flex;
      width:35%;
      justify-content: flex-end;         
         
   }
      .bloc_cityleft{
      display:flex;
      width:65%;
   }    
                        /*card hebergement et popular*/
      .card_hebergement{        
          width: 245px!important;
          height:220px;
          width:100%
    }
      .card_hebergement img{
          width:235px;
          height:130px;
    }
      .plusinfo{
          margin-bottom:30px;
          padding-left:5px;
          height:auto;
    }
      .city_house{
          justify-content:space-around;
          margin-right:50px;
          padding-right:20px;          
          border-radius: 30px;
          margin-left:10px;
          margin-bottom:25px;
    }
          .city_house h3{
          margin-bottom:2px;
    }
    .housepop{
      margin-top:5px;
      margin-bottom:30px;
    }
    
                       /* section et card activity */
                        
      .bloc_activity{
          display:flex;                   
           margin-left:10px;            
   }
      .card3_activity{
           width:90%;
           height:auto;
   }   
   .card3_activity h4{
    margin-top:14px;
    margin-bottom:4px;
    color:black ;
}
      .duo1,.duo2{
           width:50%;
          height:auto; 
   }
             
      .vieux_port img,.parc_calanque img{
            height:445px;   
            border-radius: 20px 20px 0 0;    
            object-fit:cover;
   } 
      .Dame_garde img,.parc_longchamp img{
            height:180px;   
            border-radius: 20px 20px 0 0;    
            object-fit:cover;
   }  
      .iles_frioul img{
            width:100%;
            height:120px;
            border-radius: 20px 20px 0 0;    
            object-fit:cover;
   } 
      .fort_pomegues img{
       width:100%;
       height: 235px;
       border-radius: 20px 20px 0 0;    
       object-fit:cover; 
    }    
      .p1{
          order:0;
          display: flex;
          flex-direction:column;
                    
   }
      .p2{
          order:1;      
          flex-direction: column;  
          display: flex; 
    }

      .p3{
         order:2;   
         display: flex;  
         flex-direction: column;
         height:25%;
         margin-top:20px;
        
    }  
      .p4{
         order:3; 
         display:flex;  
         flex-direction: column; 
        
        
    }
       
      .p5{
         order:4; 
         display:flex;  
         flex-direction: column; 
         
    }
      .p6{
         order:5; 
         display:flex;  
         flex-direction: column; 
         height:25%;
         margin-top:15px;
         
    }
      
                  /*FOOTER DESTOP*/
    footer{
          justify-content:space-between;
          width:100%;
          margin-top:30px;
          }
     .zone_info{
      width:80%;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      
   }
      .Column1,.Column2,.Column3{
      flex-direction: column;        
      margin-left:25px;
      padding:20px;
    }
    .A_propos{
      line-height: 15px;
    }
     .Nos_hebergements{
          justify-content:center;
          line-height:25px;
     }     
    .Assistance{
      line-height: 20px;
    }           
             
  } 
      

        

     
         
         
   


       
     
